@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;

  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);

  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;

  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.current {
  background-color: #c7365f;
  opacity: 0.9;
  border-radius: 9px;

  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16rem;

  transform: translateX(-50%);
  height: 10rem;

  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  border: none;
  background: rgba(255, 255, 255, 0.6);

  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  transition: all 0.2s;
}

.btn:active {
  transform: translate(-50%, 3px);
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.hidden {
  display: none;
}

.player--winner {
  background-color: rgb(79, 168, 6);
}

.player--winner.name {
  font-weight: 700;
  color: #bf2e34;
}
